header{
    margin-bottom: 0px;
}

#dealer-cards img {
    height: 200px;
    width: 150px;
    margin: 1px;
}

#your-cards img {
    height: 200px;
    width: 150px;
    margin: 1px;
}

#hit {
    height: 50px;
    width: 100px;
    font-size: 20px;
    margin: 1px;
    border-radius: 5px;
}

#stay {
    height: 50px;
    width: 100px;
    font-size: 20px;
    margin: 1px;
    border-radius: 5px;
}

#reset {
    display: none;
    height: 50px;
    width: 100px;
    font-size: 20px;
    margin: 1px;
    border-radius: 5px;
}

#result {
    display: none;
    height: 50px;
    width: 100px;
    font-size: 20px;
    margin: 1px;
    border-radius: 5px;
}

section {
    background-image: url('..//Image/istockphoto-647392618-2048x2048\ \(2\).jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85%;
    text-align: center;
}

h2 {
    color:rgb(255, 255, 255);
}

.off {
    display: none;
}

#Menu-mise {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('..//Image/360_F_29212363_LHjfdWC7WzXUWma9gsocqmcfgvVw4M1G.jpg');
    background-size: cover;
    padding: 10px;
    margin: 2px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
}

br {
    margin-top: 20px;
}

p {
    color : white;
}

#Token-use{
    position: absolute;
    top: 350px;
    left: 150px;
    font-size: 35px;
    display: none;
}